	
	body{
		background: white;
	}
	*{
		box-sizing: border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
	}

	.wrap{
		width: 400px;
		margin: auto;
		height: auto;
		background: black;
		padding:150x;
	}

	input[type=text]{
		width:400px;
		padding: 10px;
		font-size: 22px;
		font-weight: bold;
		margin-top: 20px;
		border-radius: 5px; 

	}

	input[type=button]{
		width: 100px;
		padding: 30px;
		font-size: 30px;
		font-weight: bold;
		border: 5px;
    }

    #del{
    	width: 100%;
    	background-color:black;
    	color: white;
    }

